.container {
    padding: 20px;
    background: #cad1dc;
    text-align: center;
  }
  
  .triggerButton {
    padding: 25px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: lightgreen;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .triggerButton.working {
    pointer-events: none;
    background: #e4e4e4;
    color: grey;
    cursor: pointer;
  }
  
  .triggerButton.error {
    background: rgb(255, 68, 68);
  }
  
  .message {
    font-weight: bold;
  }
  
  .message.error {
    color: rgb(255, 68, 68);
  }
  